<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'registration/styles.css' %}">
</head>
<body>
    <h1>Register Here</h1>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <label for="id_first_name">First Name:</label>
        {{ form.first_name }}

        <label for="id_last_name">Last Name:</label>
        {{ form.last_name }}

        <label for="id_email">Email:</label>
        {{ form.email }}

        <label for="id_password">Password:</label>
        {{ form.password }}

        <button type="submit">Register</button>
    </form>

    <footer>
        <p>&copy; 2024 NTech. All rights reserved</p>
    </footer>
</body>
</html>
