<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
</head>
<body>
    <h1>Registration Successful!</h1>
    <br>
    <br>
    <h1>Ragester Users</h1>
    <table border="1">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Go back</a>
</body>
</html>
