body {
    font-family: Arial, sans-serif;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #2fdb22;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #c01616;
}
